{% comment %}
# SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{% load i18n %}

<table class="table table-bordered table-striped diagnostics-results">
  <thead>
    <tr>
      <th class="diagnostic-test">{% trans "Test" %}</th>
      <th class="diagnostics-result">{% trans "Result" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for test, result in results %}
      <tr>
        <td>{{ test }}</td>
        <td class="diagnostics-result">
          {% if result == 'passed' %}
            <span class="label label-success">{% trans result %}</span>
          {% elif result == 'failed' %}
            <span class="label label-danger">{% trans result %}</span>
          {% elif result == 'error' %}
            <span class="label label-warning">{% trans result %}</span>
          {% else %}
            {{ result }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
